*{
    margin: 0;
    padding: 0;
}

.logincontainer{
    display: flex;
    justify-content: center;
}
.logincontainer>form {
    display: flex;
    flex-direction: column;
     width:80vw ;
     background:rgb(25, 92, 91) ;
     border-radius: 10px;
     line-height: 2rem;
     justify-content: center;
     align-items: center;
}

.logincontainer>form>h1{
    line-height: 40px;
    text-align: center;
}
.logincontainer>form>div {
    width: 90%;
}

.logincontainer>form>div>input{
    display: inline-flex;
    justify-content: center;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
}
.logincontainer>form>div>button {
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid rgb(12, 153, 12);
    color: rgb(12, 153, 12);
}