* {
  margin: 0px;
  padding: 0px;
  
}
body {
  background:rgb(49, 46, 46);
}

.container {
  display: grid;
  background:#282c34;
  height: 600px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr;
 
}

.item1 {
  background:rgb(0, 93, 0);
  grid-column-start: 1;
  grid-column-end: 4;
  color: white;
  /* display: flex; */
}
.item2 {
   grid-column-start: 1;
  grid-column-end: 4;
  color: white;

}
.innercontainer {
  display: grid;
  width: 100%;
 
 
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  column-gap: 12px;
  row-gap: 12px;
  padding-top: 12px;

}
.inneritem1 {
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 60px;
  background: rgb(36, 32, 32);
  color: yellow;
  border-radius: 2px;
}

nav {
  float: right;
  line-height: 47px;
}

nav a {
  text-decoration: none;
  padding: 0;
  background: rgb(224, 224, 5);
  border: 2px solid yellow;
  border-radius: 5px;
  color: black;
  margin: 0 10px;
  font-size: 14px;
  padding: 8px 12px;
  font-family: 'Bold';
}
.logo {
  float: left;
  line-height: 50px;
  font-size: 20px;
  margin-left: 10px;
  color: rgb(110, 148, 75);
  
}

.img img {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* clip-path: circle(); */
  margin: 3px 0 5px 5px;
  

}
.menu{
  float: left;
  width: 20px;
color: black;
margin-left: 20px;
display: none;
line-height: 70px;

}


.heading p {
  padding: 10px 0 0 15px;
  font-size: 12px;
}




@media screen and (max-width: 700px){
  .innercontainer {
    grid-template-columns: 70%;
  }
  nav {
    display: none;
  }
  .logo {
    float: right;
    margin-right: 10px;
  }
  .menu{
    float: left;
    
    display:block;
    cursor: pointer;
    
  }
  #navbar{
    position: fixed;
    width: 50%;
    height: 100vh;
    left: -50%;
    background: #17243f;
    top: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    transition: 1s;
    row-gap: 12px;
    /* display: none; */
  }
  #navbar a{
    text-decoration: none;
    padding: 0;
    background: rgb(224, 224, 5);
    border: 2px solid yellow;
    border-radius: 5px;
    text-align: center;
    color: black;
    margin: 0 9px;
    font-size: 16px;
    padding: 0 5px;
    /* display: none; */
  }
  #navbar.active{
    left: 0;
  }
  /* #navbar.unactive{
    left: -50%;
  } */
}

@media screen and ( max-width: 400px){
  
  .innercontainer {
    grid-template-columns: 90%;
  }
  #navbar.active{
    left: 50%;
  }
}